/*base*/
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.btn {
      box-sizing: border-box;
      min-width: 160px;
      min-height: 50px;
      padding-left: 40px;
      padding-top: 20px;
      padding-right: 40px;
      padding-bottom: 20px;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
}
.main-content {
    box-sizing: border-box;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/*шапка сайта*/
.page-header-wrapper {
    box-sizing: border-box;
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 15px;
}
.page-header {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #eeeeee;
    text-transform: uppercase;
}
.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 15px;
}
.site-navigation {
    display: flex;
    width: 440px;
    margin: 0;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    text-decoration: none;
}
.site-navigation-wrapper {
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.site-navigation-item a {
    color: #000000;
}
.site-navigation-item a:hover {
    color: #fb565a;
}
.site-navigation-item a:active {
    color: #000000;
    border-bottom: 2px solid  #fb565a;
}
.basket a {
    text-decoration: none;
    color: black;
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.basket a:hover {
    color: #fb565a;
}
.basket a:active {
    color: black;
    border-bottom: 2px solid  #fb565a;
}
.basket {
  padding-left: 30px;
  position: relative;
}
.basket:before {
     content: "";
     position: absolute;
     width: 16px;
     height: 16px;
     left: 0;
     top: 50%;
     margin-top:-8px;
     background-image: url(../img/cart-icon.svg);
}
.page-header-logo svg {
    padding-right: 200px;
    padding-left: 20px;
    width: 160px;
    height: 65px;
}
.page-header-logo svg:link {
    fill: #000000;
}
.page-header-logo svg:hover {
    fill: #303030;
}
.page-header-logo svg:active {
    fill: #a6a6a6;
}
/*кнопки*/
.btn-color-red {
  color: #ffffff;
  background-color: #fb565a;
 }
.btn-color-red:link {
  color: #ffffff;
  background-color: #fb565a;
}
.btn-color-red:hover {
 color: #ffffff;
 background-color: #e74246;
}
.btn-color-red:active {
  color: #ffffff;
  background-color: #d7373b;
}
.btn-color-green {
  color: #ffffff;
  background-color: #00ca74;
}
.btn-color-green:link {
  color: #ffffff;
  background-color: #00ca74;
}
.btn-color-green:hover {
  color: #ffffff;
  background-color: #00bc6c;
}
.btn-color-green:active {
  color: #4dc491;
  background-color: #00aa62;
}
.btn-color-yellow {
  color: #ffffff;
  background-color: #efc84a;
}
.btn-color-yellow:link {
  color: #ffffff;
  background-color: #efc84a;
}
.btn-color-yellow:hover {
  color: #ffffff;
  background-color: #eab534;
}
.btn-color-yellow:active {
  color: #edc265;
  background-color: #e5a722;
}
.btn-color-red-contact {
  color: #ffffff;
  background-color: #fb565a;
}
/*------------------------------------------------------*/
.main-content-wrapper {
    box-sizing: border-box;
    width: 1200px;
    min-height: 510px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 15px;
}
.products {
    padding-top: 85px;
    padding-bottom: 85px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    margin-left: auto;
    margin-right: auto;
}
.products-list {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.products-item {
    padding-right: 100px;
    padding-left: 0px;
}
.products-item:last-child {
    padding-right: 0;
 }
.img-products {
    width: 300px;
    height: 147px;
    margin-bottom: 32px;
}
.product-title {
    text-transform: uppercase;
    font-size: 24px;
}
.product-subtitle {
    font-size: 16px;
    margin-bottom: 40px;
}
/*------------------------------------------------------*/

.last-chance {
    display: flex;
    width: 1200px;
    min-height: 530px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.left-col {
    padding-top: 85px;
}
.advantages-table {
    margin-left: 165px;
    padding-top: 0;
    width: 360px;
    text-align:left;
}
.advantages-row-first {
    order: 1;
}
.advantages-row-second {
    order: 0;
}
.who-we-are {
    font-size: 45px;
    line-height: 45px;
}
.description-text {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
.orders-to-develop {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color:"#111111";
}
.assortment-list {
    padding-left: 0;
}
.assortment-list-item {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    list-style: none;
    padding-left: 20px;
    position: relative;
    }
.assortment-list-item::before {
     content: "—";
     position: absolute;
     width: 60px;
     height: 24px;
     color: #fb565a;
     left: 0;
     top: 50%;
     margin-top:-12px;
}
caption {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}
.advantages-row-first-item {
    width: 120px;
    font-size: 45px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 0px;
}
.advantages-row-second-item {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding-bottom: 30px;
}
.percent {
    vertical-align: top;
    font-size: 30px;
    }
.nerds-balloons {
    width: 360px;
    height: 211px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 0px;
    padding-left: 165px;
}
/*------------------------------------------------------*/
.partners-logo-wrapper {
    display: flex;
    width: 1200px;
    min-height: 187px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    list-style: none;
}
.partners-logo {
    display: flex;
    width: 1200px;
    min-height: 180px;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
}
/*------------------------------------------------------*/
.map {
    box-sizing: content-box;
    width: 100%;
    min-height: 418px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}


/*------------------------------------------------------*/
.footer-wrapper {
    display: flex;
    width: 1200px;
    min-height: 215px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.social-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 260px;
    min-height: 80px;
    margin-right: 10px;
}
 .social-list .social-item {
  list-style: none;
  background-color: #e1e1e1;
}
.btn-social-vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
}
.btn-social-fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}
.btn-social-inst {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
}
.slogan-first {
    font-size: 36px;
    line-height: 36px;
}
.slogan-second {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
